:root {
    /* z-index 值 */
    --z-index-desktop-bg: 0;
    --z-index-desktop-icon: 1;

    /* msfiles modal的z-index由 createModalStore 中state.modalApp.hz定义，初始为2，逐步累加 */
    --z-index-dock-menu: 999;
    --z-index-video-modal: 1000;
    --z-index-error-boundary: 9999;

    /* height 值 */
    --height-dock-menu: 58px;
    --height-modal-subtoolbar: 50px;
}

html {
    @apply scroll-smooth;
}

.lucide {
    @apply w-10 stroke-[2px];
}

.xicon {
    @apply inline-flex h-[1em] w-[1em];

    & svg {
        @apply !h-full !w-full;

        &:not([fill]) {
            fill: currentcolor;
        }
    }
}

::view-transition-old(root),
::view-transition-new(root) {
    mix-blend-mode: normal;
    animation: none;
}

:root {
    --modal-txt-color: #222;
    --modal-bg-color: rgb(255 255 255 / 30%);
    --modal-shadow: 0 0 10px rgb(0 0 0 / 40%);
    --card-shadow: 0 0 10px rgb(0 0 0 / 40%);
    --card-shadow-hover: 0 0 20px rgb(0 0 0 / 40%);
}

[data-theme='dark'] {
    --modal-txt-color: #ddd;
    --modal-bg-color: rgb(0 0 0 / 30%);
    --modal-shadow: 0 0 10px rgb(255 255 255 / 40%);
    --card-shadow: 0 0 10px rgb(255 255 255 / 40%);
    --card-shadow-hover: 0 0 20px rgb(255 255 255 / 40%);
}

/* ===== TYPOGRAPHY */
@utility h1 {
    @apply text-[34px] leading-[42px] font-bold;
}

@utility h2 {
    @apply text-[24px] leading-[36px] font-bold;
}

@utility h3 {
    @apply text-[20px] leading-[28px] font-semibold;
}

@utility h4 {
    @apply text-[18px] leading-[20px] font-medium;
}

@utility h5 {
    @apply text-[16px] leading-[24px] font-semibold;
}

@utility subtitle-1 {
    @apply text-[16px] leading-[24px] font-medium;
}

@utility subtitle-2 {
    @apply text-[14px] leading-[20px] font-semibold;
}

@utility body-1 {
    @apply text-[16px] leading-[24px] font-normal;
}

@utility body-2 {
    @apply text-[14px] leading-[20px] font-normal;
}

/* Chart */

@utility chart {
    @apply flex items-center! rounded-[20px]! bg-brand! p-5 text-white md:flex-col! xl:flex-row!;
}

@utility chart-container {
    @apply mx-auto! aspect-square! w-[180px]! text-white xl:w-[250px]!;
}

@utility polar-grid {
    @apply first:fill-white/20 last:fill-brand;
}

@utility chart-details {
    container: unset;

    @apply flex-1 items-start px-3! py-0! sm:px-5! lg:p-3! xl:pr-5!;
}

@utility chart-total-percentage {
    @apply fill-white text-4xl font-bold;
}

@utility chart-title {
    @apply h3 font-bold text-white! md:text-center lg:text-left;
}

@utility chart-description {
    @apply mt-2! w-full! subtitle-1! text-white/70! md:text-center! lg:text-left!;
}

/* 鼠标移动到文字或链接出现动画下划线 */
.animate-decoration {
    padding-bottom: 2px;
    background: linear-gradient(var(--foreground), var(--foreground)) 0% 100% / 0% 1px no-repeat;
    transition: background-size ease-out 200ms;

    &:not(:focus):hover {
        background-size: 100% 1px;
    }
}

/* 粗下划线 */
.animate-decoration-lg {
    &:not(:focus):hover {
        background-size: 100% 2px;
    }
}

@layer components {
    html[data-theme='dark'] {
        .scrollbar-custom {
            &::-webkit-scrollbar-thumb {
                background-color: rgb(255 255 255 / 10%);
            }
        }
    }

    .scrollbar-custom {
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(0 0 0 / 30%);
            background-clip: padding-box; /* 关键：背景色不延伸到边框 */
            border: 1px solid transparent; /* 关键：1px 透明边框 = 空隙 */
            border-radius: 9999px;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}

@layer utilities {
    .prose :where(ul > li):not(:where([class~='not-prose'], [class~='not-prose'] *))::marker {
        color: #4b5563;
    }
}
