@reference "#tailwind.css";

.desktopToc {
    @apply sticky top-16 w-56 flex-shrink-0 self-start;
}

.mobileToc {
    @apply fixed top-16 top-[30%] right-0 z-10 flex items-center overflow-hidden transition-transform duration-300 ease-out;

    & > .mobileTocButton > span > svg {
        filter: drop-shadow(1px 2px 1px rgb(144 130 130 / 40%));
    }

    & > .mobileTocMain {
        @apply h-full w-56 rounded-tl-lg rounded-bl-lg bg-[rgb(255_255_255/0.8)] py-2 shadow-lg drop-shadow-sm backdrop-blur-sm;

        & > .mobileTocTitle {
            @apply flex items-center justify-between px-4 py-2;
        }

        & > .mobileTocContent {
            @apply max-h-96 overflow-x-hidden overflow-y-auto;
            direction: rtl;

            & > * {
                direction: ltr;
            }
        }
    }

    &.mobileToc-expanded {
        @apply translate-x-0;
    }

    &.mobileToc-collapsed {
        @apply translate-x-[calc(100%-1.5rem)];
    }
}

html[data-theme='dark'] {
    .mobileTocMain {
        @apply bg-[rgba(24_24_27/0.9)];
    }
}
