@layer components {
    .msfiles {
        --bg1: #fff;
        --bg2: #f5f5f5;
        --dsb-col: #aaa;
        --gray1: #bbb;
        --gray2: #ddd;
        --hover-bg: rgb(0 178 255 / 16%);
        --focus-bg: rgb(0 183 255 / 25%);
        --fakeMica: #202020 radial-gradient(#1a1f35 25%, #202020 100%) no-repeat fixed;
        color: var(--modal-txt-color);
        background: var(--modal-bg-color);
        box-shadow: 0 0 6px rgb(0 0 0 / 25%);

        @apply h-[calc(100dvh-var(--height-dock-menu)-7px)] backdrop-blur-md;
    }

    .floatTab {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 6px;
        transform-origin: center;
        transition: all cubic-bezier(0.85, 0.14, 0.14, 0.85) 250ms;

        &[data-size='cstm'] {
            filter: none;
        }

        &[data-hide='true'] {
            top: 0;
            left: 0;
            pointer-events: none;
            opacity: 0;
            transform: scale(0.8);
        }

        &[data-max='false'] {
            top: calc(100% + 10px);
            pointer-events: none;
            opacity: 0;
            transform: scale(0.6);
            transform-origin: bottom;
        }

        &[data-size='mini'] {
            top: 10%;
            left: 20%;
            width: 60%;
            height: 80%;
        }
    }

    .windowScreen {
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        border-radius: 0 0 6px 6px;
    }

    .notrans {
        transition: none !important;
    }
}
