@layer components {
    .toolbar {
        position: relative;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 32px;
        border-radius: 6px 6px 0 0;

        &[data-float='false'] {
            z-index: 10;
        }

        @apply backdrop-blur-lg;
    }

    .topInfo {
        height: 100%;

        &[data-float='true'] {
            opacity: 0;
        }

        .uicon {
            margin: 0 10px 0 6px;
        }
    }

    .actbtns {
        height: 100%;

        .actbtn {
            @apply h-full flex items-center justify-center px-1 hover:bg-[#88888833] cursor-pointer transition-all;

            &.closeBtn {
                @apply hover:bg-[#ff0000cc];
                border-radius: 0 6px 0 0;
            }
        }
    }

    .closeBtn {
        border-radius: 0 6px 0 0;
    }

    .snapbox {
        position: relative;

        &[data-hv='true'] {
            background: rgb(136 136 136 / 20%);
        }
    }

    .resizecont {
        position: absolute;
        z-index: 12;
    }

    .topone {
        top: -8px;
        left: 0;
        z-index: 22;
        width: calc(100% - 48px * 3);
    }

    .leftone {
        left: -8px;
        height: 100%;
    }

    .rightone {
        right: -8px;
        bottom: 0;
        height: calc(100% - 28px);
    }

    .bottomone {
        bottom: -8px;
        left: 0;
        width: 100%;
    }

    .conrsz {
        width: 8px;
        height: 8px;
    }

    .edgrsz {
        min-width: 8px;
        min-height: 8px;
    }

    .wdws {
        width: 100%;
    }

    .hdws {
        height: 100%;
    }

    .noscroll {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    body[data-theme='dark'] .toolbar[data-noinvert='false'] {
        .snapcont {
            background: #222;

            .snapper {
                background: #4e4e4e;
                border: solid 1px #777;

                &:hover {
                    background: var(--clrPrm);
                    border: solid 1px var(--clrPrm);
                }
            }
        }

        .appFullName {
            color: #fefefe;
        }

        .actbtns {
            .uicon img {
                filter: invert(1);
            }
        }
    }
}
